div#section-one{
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-position: center;
    height: 700px;
    color: white;
}

div#section-one > div > h1{
    font-size: 40px;
    padding: 10px;
    text-transform: uppercase;
}


div#section-one > div > h6{
    
    padding: 10px;
    text-transform: uppercase;
}


div#section-three{
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-position: center;
    color: white;
    height: 450px;
}

img.img-portfolio{
    width: 100%;
    margin: auto;
    height: 100%;
}

div#section-seven{
    background-image: url("../assets/backgrounds/c_image.jpg");
    background-position: center;
    color: white;
}
